In [30]:

import pandas as pd
import seaborn as sns
df = sns.load_dataset("titanic")

print(" BEFORE CLEANING REPORT")
print("Shape:", df.shape)
print("\nMissing Values:\n", df.isnull().sum())
print("\nDescriptive Statistics:\n", df.describe(include='all'))
print("="*60)

df = df.drop_duplicates()

df['age'] = df['age'].fillna(df['age'].mean())
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode()[0])
df = df.drop(columns=['deck'])

Q1 = df['fare'].quantile(0.25)
Q3 = df['fare'].quantile(0.75)
IQR = Q3 - Q1
df = df[~((df['fare'] < (Q1 - 1.5 * IQR)) | (df['fare'] > (Q3 + 1.5 * IQR)))]

print(" AFTER CLEANING REPORT")
print("Shape:", df.shape)
print("\nMissing Values:\n", df.isnull().sum())
print("\nDescriptive Statistics:\n", df.describe(include='all'))
print("="*60)

df.to_csv("titanic_cleaned.csv", index=False)
print(" Cleaned dataset saved as 'titanic_cleaned.csv'")

 BEFORE CLEANING REPORT
Shape: (891, 15)

Missing Values:
 survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

Descriptive Statistics:
           survived      pclass   sex         age       sibsp       parch  \
count   891.000000  891.000000   891  714.000000  891.000000  891.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   577         NaN         NaN         NaN
mean      0.383838    2.308642   NaN   29.699118    0.523008    0.381594
std       0.486592    0.836071   NaN   14.526497    1.102743    0.806057
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    3.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male deck  embark_town alive  \
count   891.000000      889    891  891        891  203          889   891
unique         NaN        3      3    3          2    7            3     2
top            NaN        S  Third  man       True    C  Southampton    no
freq           NaN      644    491  537        537   59          644   549
mean     32.204208      NaN    NaN  NaN        NaN  NaN          NaN   NaN
std      49.693429      NaN    NaN  NaN        NaN  NaN          NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
25%       7.910400      NaN    NaN  NaN        NaN  NaN          NaN   NaN
50%      14.454200      NaN    NaN  NaN        NaN  NaN          NaN   NaN
75%      31.000000      NaN    NaN  NaN        NaN  NaN          NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN  NaN          NaN   NaN

       alone
count    891
unique     2
top     True
freq     537
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
============================================================
 AFTER CLEANING REPORT
Shape: (682, 14)

Missing Values:
 survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Descriptive Statistics:
           survived      pclass   sex         age       sibsp       parch  \
count   682.000000  682.000000   682  682.000000  682.000000  682.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   451         NaN         NaN         NaN
mean      0.365103    2.422287   NaN   29.267883    0.502933    0.391496
std       0.481812    0.766767   NaN   13.573003    1.017103    0.832940
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    2.000000   NaN   21.000000    0.000000    0.000000
50%       0.000000    3.000000   NaN   29.869351    0.000000    0.000000
75%       1.000000    3.000000   NaN   35.750000    1.000000    0.000000
max       1.000000    3.000000   NaN   80.000000    8.000000    6.000000

              fare embarked  class  who adult_male  embark_town alive alone
count   682.000000      682    682  682        682          682   682   682
unique         NaN        3      3    3          2            3     2     2
top            NaN        S  Third  man       True  Southampton    no  True
freq           NaN      519    405  414        414          519   433   414
mean     19.507490      NaN    NaN  NaN        NaN          NaN   NaN   NaN
std      14.836515      NaN    NaN  NaN        NaN          NaN   NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN          NaN   NaN   NaN
25%       7.895800      NaN    NaN  NaN        NaN          NaN   NaN   NaN
50%      13.000000      NaN    NaN  NaN        NaN          NaN   NaN   NaN
75%      26.550000      NaN    NaN  NaN        NaN          NaN   NaN   NaN
max      71.283300      NaN    NaN  NaN        NaN          NaN   NaN   NaN
============================================================
 Cleaned dataset saved as 'titanic_cleaned.csv'

In [31]:
df=sns.load_dataset("titanic")

In [32]:
df=pd.DataFrame(df)

In [33]:
print(df.isnull().sum())

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64